<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslateblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: gray;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body style="padding: 2%;">
<h1 style="color: #04AA6D; text-align: center;font-family: sans-serif;">Student Information System</h1>
<ul>
    <li><a href="/add">Insert</a></li>
    <li><a href="/display">Display</a></li>
    <li><a href="/search">Search</a></li>
    <li><a href="/update">Update</a></li>
    <li><a href="/delete">Drop Out</a></li>
    <li style="float:right"><a class="active" href="/home">About</a></li>
</ul>
{% block home %}
{% endblock %}
</body>
</html>



