<html>
    {% extends "base.html" %}
    {% block home %}
    <body>
        <p style="font-size: 18px; color: darkslateblue;">A Student Information System (SIS) is a comprehensive software application that is designed to manage and 
        organize information related to students in educational institutions. It serves as a centralized platform 
        for storing, retrieving, and managing student data throughout their academic lifecycle. The primary purpose 
        of a Student Information System is to streamline administrative tasks, enhance communication, and improve 
        overall efficiency in educational institutions.<br><br>
        Here are the details included in this Student Information System project:<br><br>
        Registration Number,<br>Name,<br>Email ID,<br>Department,<br>Currently studying Semester,<br>Attendance Percentage,<br>
        CGPA<br><br><br>And the operations done in this Student Information System project are:<br><br><b style="color: #04aa6d;">
        CRUD Operations :</b><br>Storing,<br>Retrieving,<br>
        Updating,<br>Deleting,<br>Displaying</p>
    </body>
    {% endblock %}
</html>